<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <center><%= image_tag("Untitled.png", width: "500em") %> <br>
  <h3>Your light level is too damn low!</h3></center>
</body>
</html>
