<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <center><img src="http://floating-crag-3281.herokuapp.com/assets/Untitled-a0c69b6d3c9193a67fbe847b4629f021.png" alt="SolarFlare Logo", height="100" width="300" /> <br>
  <h3>Your light level is too damn low!</h3></center>
</body>
</html>
