<div class="container">

  <%= render "weather/form" %>
  <% data_column_chart = [["Light Level", Sensor.last.data_point]] %>

  <%= column_chart data_column_chart, min:0, max:1100 %>

  <%= render "weather/form2" %>

</div>
