<div class="container">
  <div class="page-header">
    <h1><%= link_to("Create User Profile", new_user_path) %>
      <br>
        <small>
          Set up a user profile and get started on using our software to optimize
          your solar panel systems.

        <br></br>

          Already have an account? Sign in <%= link_to "here", login_path %>.
        </small>
    <h1>
  </div>



</div> <!-- container -->
