<div class="container">
  <%= render 'form' %>

  ADD powered by forecast.io

      <!-- Area for data/ visualization -->
  <% data_line_graph = [['2014-05-11 15:39:02 -0700', 13], ['2014-06-11 15:39:02 -0700', 20],
                      ['2014-07-11 15:39:02 -0700', 18], ['2014-08-11 15:39:02 -0700', 56],
                      ['2014-09-11 15:39:02 -0700', 70], ['2014-10-11 15:39:02 -0700', 65]] %>

  <%= line_chart data_line_graph, colors: ["red", "#FE7E19"]%>

  <%= render 'form2' %>
</div>
