<div class="container">

  <%= render 'weather/form' %>

  <h3><%= link_to("Edit your info", edit_user_path) %></h3>
  <% if @user.address_zip != "" %>
  <% data_sensor_weekly_graph = [[Time.now.to_date, sensor_percentage_average_x_days_ago(0)],
  [(Time.now-1.day).to_date, sensor_percentage_average_x_days_ago(1)],
  [(Time.now-2.day).to_date, sensor_percentage_average_x_days_ago(2)],
  [(Time.now-3.day).to_date, sensor_percentage_average_x_days_ago(3)],
  [(Time.now-4.day).to_date, sensor_percentage_average_x_days_ago(4)],
  [(Time.now-5.day).to_date, sensor_percentage_average_x_days_ago(5)],
  [(Time.now-6.day).to_date, sensor_percentage_average_x_days_ago(6)],
  [(Time.now-7.day).to_date, sensor_percentage_average_x_days_ago(7)],
  ] %>
  <% data_past_cloud_cover = [[Time.now.to_date, weather_x_days_ago_hash(0)["cloudCover"]],
  [(Time.now-1.day).to_date, weather_x_days_ago_hash(1)["cloudCover"]],
  [(Time.now-2.day).to_date, weather_x_days_ago_hash(2)["cloudCover"]],
  [(Time.now-3.day).to_date, weather_x_days_ago_hash(3)["cloudCover"]],
  [(Time.now-4.day).to_date, weather_x_days_ago_hash(4)["cloudCover"]],
  [(Time.now-5.day).to_date, weather_x_days_ago_hash(5)["cloudCover"]],
  [(Time.now-6.day).to_date, weather_x_days_ago_hash(6)["cloudCover"]],
  [(Time.now-7.day).to_date, weather_x_days_ago_hash(7)["cloudCover"]],
  ] %>

  <%= line_chart [{name: "Light level", data: data_sensor_weekly_graph},
    {name: "Cloud cover", data: data_past_cloud_cover}],
    min: 0, max: 1.1%>

  <% else %>
    <h3 class="danger">You have not entered your address correctly and weather and sensor data cannot be loaded</h3>
  <% end %>

  <%= render 'weather/form2' %>


</div>
