<div class="container">
  <%= render 'form' %>

  <% data_pie_chart = [["Day time from array", 30], ["Day time from grid", 5],
  ["Night time from array batteries", 45], ["Night time from grid", 10]] %>

  <%= pie_chart data_pie_chart %>

  
</div>
