<div class="container">
  <div class="page-header">
    <h1>Hello, <%= @user.first_name %> <%= @user.last_name %>
      <br>
        <small>

        </small>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <h1>
  </div>
