<div class="container">
  <%= render 'form' %>

  <%= weather_now_hash %>

  <!-- cloud cover
  percipitation
  temperature ----- snow! -->

  ADD powered by forecast.io

  <%= render 'form2' %>
</div>
