</div><!-- ends container from layot  -->
<div class="parallax">
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back parallax_section0">
      <div class="container">
        <center><%= image_tag("electricimp.png", width: "500em") %></center>
      </div>
    </div>
    <div class="parallax__layer parallax__layer--base parallax_section1">
      <div class="container">
        <div class="pull-left">
          <%= image_tag("electricimp.png", width: "200em", class: "electric-imp-logo")%>
        </div>
      <h1>Before we get started...</h1>
        <h3>We need to get to know the electric imp.</h3>
      </div>
    </div>
  </div>
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--deep parallax_section3">
      <div class="header">
        <center><%= image_tag("Untitled.png", width: "500em") %></center>
      </div>
    </div>
    <div class="parallax__layer parallax__layer--back parallax_section2">
      <div class="container">
        <div class="page-header"><h1>electric imp</h1></div>
        <div class="row">
          <div class="col-sm-9">
            <p>
              The electric imp is how we will collect the data to monitor your solar
              panels. The SolarSensor&#0153; (prototype phase) just needs to be set up
              at the <a href="https://electricimp.com/docs/gettingstarted/">electric imp site</a>.
              After putting your user id number into the code below, blinking up the
              device, and building the circut you are ready to start pushing data to our site.
            </p>
          </div>
        </div>

        <div class="gist">
          <div class="gist1">
            <h1><a href="https://gist.github.com/Jeff-Hostetler/ea0fb8cfc80a0f9978bd">Device Code</a></h1>
          </div>
          <div class="gist2">
            <h1><a href="https://gist.github.com/Jeff-Hostetler/bdbd8b2b53949af1e11a">Agent Code</a></h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
