<div class="container">

  <%= render 'form' %>

  <%= link_to "Full forecast", user_weekly_path(current_user) %>

  <% data_line_graph = [[Time.now, weather_x_days_ago_hash(0)["cloudCover"]],
  [Time.now+1.day, weather_x_days_ago_hash(-1)["cloudCover"]],
  [Time.now+2.day, weather_x_days_ago_hash(-2)["cloudCover"]],
  [Time.now+3.day, weather_x_days_ago_hash(-3)["cloudCover"]],
  [Time.now+4.day, weather_x_days_ago_hash(-4)["cloudCover"]],
  [Time.now+5.day, weather_x_days_ago_hash(-5)["cloudCover"]],
  [Time.now+6.day, weather_x_days_ago_hash(-6)["cloudCover"]],
  [Time.now+7.day, weather_x_days_ago_hash(-7)["cloudCover"]],
  ] %>
  <%=line_chart data_line_graph, colors: ["red"], min: 0, max: 1.1%>
  <%= render "form2" %>
</div>
