<div class="aboutBackground">
  <div class="container">
    <div class="page-header">
      <h1>SolarFlare
        <br>
          <small>SolarFlare is a project developed by <a href=" https://www.linkedin.com/profile/view?id=119041210&trk=nav_responsive_tab_profile_pic">Jeff Hostetler<a>.
          </small>
      <h1>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>



  </div>
</div>
