<div class="aboutBackground">
  <div class="container">








    <footer>    
            <p>
              Created by Jeff Hostetler
              <a href="https://www.linkedin.com/profile/view?id=119041210&trk=nav_responsive_tab_profile_pic">LinkedIn</a>
            </p>
    </footer>
  </div>
</div>
