<div class="indexBackground">
  <div class="container">
    <center><%= image_tag("Untitled.png", width: "500em") %>
      <br>
      <h1>Monitor your solar array sytems, improve efficiency.</h1>
      <br>
      <%= link_to "Optimize your system", new_user_path, class:"btn btn-lg btn-warning", style: "color: #3F3F3F" %>
    </center>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
  </div>
</div>

<a name="products"></a>

<div class="productsBackground">
  <div class= "container">
<br></br><br></br><br></br><br></br>
  <div class="page-header">
    <h1>Sensors, optimization, efficiency.
    <h1>
  </div>

  <div class="media">
    <a class="pull-left" href="/users/new">
      <img class="img-rounded" src="https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_n.jpg" alt="...">
    </a>
    <div class="media-body">
      <h3 class="media-heading"><%= link_to("Using sensor data", new_user_path, style: "color: #280000") %></h4>
      <p>Knowledge is power. In today's age, having up-to-date data and acting on that information is vital.
        Using our sensors, you will be able to monitor the efficiency of your solar panel system. By constantly
        monitoring the amount of radiation reaching your panels and sending you alerts via the medium of your
        choosing, your system will let you know if you are not preforming at peak efficiency. In a world where
        resources are becoming more and more scarce, creating infrastructure that is clean and efficient is key
      </p>
    </div>
  </div>

  <br></br>

  <div class="media">
    <a class="pull-left" href="/users/new">
      <img class="img-rounded" src="https://farm8.staticflickr.com/7106/7407770486_88b637c2dc_n.jpg" alt="...">
    </a>
    <div class="media-body">
      <h3 class="media-heading"><%= link_to("Weather monitoring", new_user_path, style: "color: #280000") %></h4>
      <p>Using your geolocation, SolarFlare with give you historical weather data as well as forecasts.
      The weather affects the amount of radiation your panels receieve. Comparing your sensor data
      with past weather readings as well as using forcasts to prepare for the future is important.</p>
      </div>
    </div>
  </div>
<br></br>
</div>


<div class="between_products_and_about">
<br></br><br></br><br></br><br></br><br></br><br></br><br></br>
</div>

<a name="about_us"></a>

<div class="aboutBackground">
  <div class="container">

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br>
<center>
  <h2>SolarFlare is a project developed by Jeff Hostetler. Jeff is a student at gSchool
    and is currently studying to become a full stack developer.
  </h2>
</center>
<hr>
</br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
  </div>
</div>
