<div class="indexBackground">
  <div class="container">

    <div class="page-header">
      <h1>SolarFlare
        <br>
        <small> SolarFlare is an application that will optimze your solar panel system.
          With sensor monitoring, SolarFlare allows you to view up-to-date information regarding
          how your green electrical system is preforming. We take your geolocation and use that
          data to optimze the tracking of your panels.</small></h1>
        <%= link_to "Optimize your system", new_user_path, class:"btn btn-lg btn-warning" %>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>



  </div>
</div>

<br><br><br>
<div class="productsBackground">
  <a name="products"></a>
  <div class= "container">
  <div class="page-header">
    <h1>Sensors, optimization, efficiency.
      <br>
      <small>
      </small>
    <h1>
  </div>

  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_n.jpg" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to("Using sensor data", new_user_path) %></h4>
      <p>Knowledge is power. In today's age, having up-to-date data and acting on that information is vital.
        Using our sensors, you will be able to monitor the efficiency of your solar panel system. By constantly
        monitoring the amount of radiation reaching your panels and sending you alerts via the medium of your
        choosing, your system will let you know if you are not preforming at peak efficiency. In a world where
        resources are becoming more and more scarce, creating infrastructure that is clean and efficient is key
      </p>
    </div>
  </div>

  <br></br>

  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="https://farm8.staticflickr.com/7106/7407770486_88b637c2dc_n.jpg" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to("Optimizing panel tracking", new_user_path) %></h4>
      <p>Using your geolocation, SolarFlare will be able to optimize the tracking of your solar panel
        systems using our unique software. Based your your location, our software will point your panels at
        the sun year around. In conjuction with our real-time sensor data, this will greatly improve the
        efficiency of your system.</p>
      </div>
    </div>
  </div>
</div>

<a name="about_us"></a>
<br><br><br><br>
<div class="aboutBackground">
  <div class="container">
    <div class="page-header">
      <h1>
        <br>
        <small>SolarFlare is a project developed by
          <a href=" https://www.linkedin.com/profile/view?id=119041210&trk=nav_responsive_tab_profile_pic">
            Jeff Hostetler</a>. Jeff is a student at <a href-"http://www.galvanize.it/school/#main">gSchool</a>
            and is currently studying to become a full stack developer.
        </small>
      <h1>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>



  </div>
</div>
