<div class="indexBackground">
  <div class="container">

    <div class="page-header">
      <h1>SolarFlare
        <br>
        <small> SolarFlare is an application that will optimze your solar panel system.
          With sensor monitoring, SolarFlare allows you to view up-to-date information regarding
          how your green electrical system is preforming. We take your geolocation and use that
          data to optimze the tracking of your panels.</small></h1>
        <p><a class="btn btn-lg btn-warning" href="products" role="button">Optimize Your System</a></p>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>



  </div> <!-- container on index -->
</div>
