<div class="container">

  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>  
  <footer>
        <p>
          <p>
            Created by Jeff Hostetler
            <a href="https://www.linkedin.com/profile/view?id=119041210&trk=nav_responsive_tab_profile_pic">LinkedIn</a>
          </p>
        </p>
  </footer>
<div> <!-- container on index -->
