<div class="indexBackground">
  <div class="container">

    <div class="page-header">
      <h1>SolarFlare
        <br>
        <small> SolarFlare is an application that will optimze your solar panel system. With sensor monitoring, SolarFlare allows you to view up-to-date information regarding how your green electrical system is preforming. We take your geolocation and use that data to optimze the tracking of your panels.</small></h1>
        <p><a class="btn btn-lg btn-info" href="#" role="button">Optimize Your System</a></p>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <footer>
            <p>
              Created by Jeff Hostetler
              <a href="https://www.linkedin.com/profile/view?id=119041210&trk=nav_responsive_tab_profile_pic">LinkedIn</a>
            </p>
    </footer>
  </div> <!-- container on index -->
</div>
