<div class="productsBackground">
  <div class="container">
    <div class="page-header">
      <h1>SolarFlare
        <br>
          <small>Products information goes here<a>.
          </small>
      <h1>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>



  </div>
</div>
