<div class="productsBackground">
  <div class="container">
    <div class="page-header">
      <h1>SolarFlare
        <br>
          <small>Sensors, optimization, efficiency.
          </small>
      <h1>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_n.jpg" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Using sensor data</h4>
          <p>Knowledge is power. In today's age, having up-to-date data and acting on that information is vital.
          Using our sensors, you will be able to monitor the efficiency of your solar panel system. By constantly
          monitoring the amount of radiation reaching your panels and sending you alerts via the medium of your
          choosing, your system will let you know if you are not preforming at peak efficiency. In a world where
          resources are becoming more and more scarce, creating infrastructure that is clean and efficient is key
          </p>
      </div>
    </div>

    <br></br>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="https://farm8.staticflickr.com/7106/7407770486_88b637c2dc_n.jpg" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Optimizing panel tracking</h4>
          <p>Using your geolocation, SolarFlare will be able to optimize the tracking of your solar panel
          systems using our unique software. Based your your location, our software will point your panels at
          the sun year around. In conjuction with our real-time sensor data, this will greatly improve the
          efficiency of your system.</p>
      </div>
    </div>

    <br></br>
    <br></br>

  </div>
</div>
