/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Artifika";
  src: url(/assets/fonts/Artifika-Regular.ttf) format("truetype");
}

/* picture from morguefile */
body{
  padding-top: 50px;
  font-family: "Artifika";
}
/*INDEX*/
/* picture from morguefile */
.indexBackground {
    background-image: url(https://farm5.staticflickr.com/4063/4259953247_e509cb1a82_b.jpg);
  background-size: cover;

  h1{
    color:#6F6256;
    font-size: 300%
  }
}
/*ABOUT*/
.aboutBackground{
  background-image: url(https://farm8.staticflickr.com/7315/8736419240_b364b7d8e1_b.jpg);
  background-size: cover;

  h1{
    color: #56525A;
  }

  small{
    color:#FFFFFF;
  }
}
.productsBackground{
    background: -webkit-linear-gradient(black, #FCFCFC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #FCFCFC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #FCFCFC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #FCFCFC); /* Standard syntax */
    background-size: cover;

    h1 {
      color: #FBFAF3;
      p {
        color: white;
      }
    }
}

.between_products_and_about{
  background: -webkit-linear-gradient(white, #040814); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #040814); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #040814); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #040814); /* Standard syntax */
  background-size: cover;
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}







/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
