/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Artifika";
  src: url(/assets/fonts/Artifika-Regular.ttf) format("truetype");
}

/* picture from morguefile */
body{
  font-family: "Artifika";
}
.container{
  padding-top: 50px;
}
.navbar-inverse {
    background-color: RGBA(0, 0, 0, 0.75);
    border-color: RGBA(119, 119, 119, 0.75);
    border-width: 0 0 3px;
}



/*INDEX*/
.indexBackground {
  background-image: url(https://farm5.staticflickr.com/4063/4259953247_e509cb1a82_b.jpg);
  background-size: cover;
  height: 800px;

  h1{
    color: #3F3F3F;
  }
}
/*ABOUT*/
.aboutBackground{
  background-image: url(https://farm8.staticflickr.com/7315/8736419240_b364b7d8e1_b.jpg);
  background-size: cover;
  height: 810px;

  h2{
    color: #FDFDF3;
  }
}
.productsBackground{
    background: -webkit-linear-gradient(black, #FCFCFC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #FCFCFC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #FCFCFC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #FCFCFC); /* Standard syntax */
    background-size: cover;


    h1 {
      color: #FDFDF3;
    }
    h3{
      color: #280000;
    }
      p {
        color: #280000;
      }
}

.between_products_and_about{
  background: -webkit-linear-gradient(RGBA(250, 250, 250, 1), #040814); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(RGBA(250, 250, 250, 1), #040814); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(RGBA(250, 250, 250, 1), #040814); /* For Firefox 3.6 to 15 */
  background: linear-gradient(RGBA(250, 250, 250, 1), #040814); /* Standard syntax */
  background-size: cover;
  height: 200px;
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

/* Sensor */
/* real time chart */
.chartTitle{
  text-align: center;
}

#realTimeChart{
  width: 75%;
  height: 350px;
  margin: 0 auto;
  border-radius: 20px;
}

.bright{
  background-color: rgba(255,255,255,1);
  transition: background-color 5s;
}
.dark{
  background-color: rgba(167, 148, 148, 1);
  transition: background-color 5s;
}
.realTimeChartMessage{
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  width: 25%;
  margin: 0 auto;
}
